# Credentials for the database for authentication.
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_NAME=database

# JWT secret used to generate the access token for the login process.
JWT_SECRET_KEY=randomly_generated_string